@model IEnumerable<Prados.Web.Data.Entities.Noticiastbl>

@{
    ViewData["Title"] = "Noticias";
}






<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">


                            <h2 style="text-align:center">Noticiero Prados del Condado</h2>

                            <h3 class="card-title">Nuevo</h3>
                            </br>
                            <p>

                                <a asp-action="Create" class="btn btn-success"><img src="~/images/icon/ADD.png" width="30" height="30"></a>
                            </p>
                        </div>
                        <div class="card-body ">
                            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <div class="row">
                                    <div class="form-group col-md-12">


                                        <table class="table table-striped table-bordered" id="tblNoticias">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="text-align:center">
                                                        @Html.DisplayNameFor(model => model.Not_Titulo)
                                                    </th>
                                                    <th style="text-align:center">
                                                        @Html.DisplayNameFor(model => model.Not_Autor)
                                                    </th>
                                                    <th style="text-align:center">
                                                        @Html.DisplayNameFor(model => model.Not_Descripcion)
                                                    </th>
                                                    <th style="text-align:center">
                                                        @Html.DisplayNameFor(model => model.Not_Fecha)
                                                    </th>
                                                    <th style="text-align:center">
                                                        @Html.DisplayNameFor(model => model.Not_Estado)
                                                    </th>
                                                    <th style="text-align:center"> Editar</th>
                                                    <th style="text-align:center"> Detalles</th>
                                                    <th style="text-align:center"> Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Where(n => n.Not_Estado == 'A'))
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Not_Titulo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Not_Autor)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Not_Descripcion)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Not_Fecha)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Not_Estado)
                                                        </td>
                                                        <td>
                                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning center-block"><i class="glyphicon glyphicon-edit"></i></a>

                                                        </td>
                                                        <td>
                                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success center-block"><i class="glyphicon glyphicon-list-alt"></i></a>

                                                        </td>
                                                        <td>
                                                            <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialogno"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>








                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- jQuery -->










@section scripts{


    <script type="text/javascript">
        $(document).ready(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });


        });
    </script>

}
